<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="static/css/bootstrap.css" rel="stylesheet">
	<link href="static/css/site.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">后台管理</a>
          <div class="btn-group pull-right">
			<a class="btn" href="my-profile.html"><i class="icon-user"></i> 管理员</a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
			  <li><a href="my-profile.html">个人资料</a></li>
              <li class="divider"></li>
              <li><a href="adminLogin.html">退出</a></li>
            </ul>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
			<li><a href="index.html">首页</a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">读者 <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="new-reader.html">新建记录</a></li>
					<li class="divider"></li>
					<li><a href="reader.html">管理读者</a></li>
				</ul>
			  </li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">图书 <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="new-book.html">新建图书</a></li>
					<li class="divider"></li>
					<li><a href="book.html">管理图书</a></li>
				</ul>
			  </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">记录<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="new-borrow.html">新建记录</a></li>
					<li class="divider"></li>
					<li><a href="borrow.html">管理记录</a></li>
				</ul>
			  </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><i class="icon-wrench"></i>管理</li>
              <li><a href="reader.html">读者</a></li>
              <li><a href="book.html">图书</a></li>
                <li class="active"><a href="reader.html">记录</a></li>
              <li class="nav-header"><i class="icon-signal"></i> 统计</li>
              <li><a href="stats.html">通用</a></li>
              <li><a href="user-stats.html">用户</a></li>
              <li><a href="visitor-stats.html">访问者</a></li>
              <li class="nav-header"><i class="icon-user"></i> 资料</li>
              <li><a href="my-profile.html">我的资料</a></li>
              <li><a href="#">设置</a></li>
			  <li><a href="adminLogin.html">退出</a></li>
            </ul>
          </div>
        </div>
        <div class="span9">
		  <div class="row-fluid">
			<div class="page-header">
				<h1>新建图书 <small>添加图书</small></h1>
			</div>
			<form class="form-horizontal">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="name">图书名称</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="name" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="isbn">ISBN</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="isbn" />
						</div>
					</div>
                    <div class="control-group">
						<label class="control-label" for="author">作者</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="author" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="num">数量</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="num" />
						</div>
					</div>
                    <div class="control-group">
						<label class="control-label" for="press">出版社</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="press" />
						</div>
					</div>
                    <div class="control-group">
						<label class="control-label" for="price">价格</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="price" />
						</div>
					</div>
                    <div class="control-group">
						<label class="control-label" for="type">图书类型</label>
						<div class="controls">
							<select id="type">
								<option value="typeA" selected>A 哲学类</option>
								<option value="typeB">B 宗教类</option>
								<option value="typeC">C 科学类</option>
							</select>
						</div>
					</div>
					<div class="form-actions">
						<input type="submit" class="btn btn-success btn-large" value="确定" /> <a class="btn" href="roles.html">取消</a>
					</div>					
				</fieldset>
			</form>
		  </div>
        </div>
      </div>

      <hr>

      <footer class="well">
        &copy; AdminPage
      </footer>

    </div>

    <script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
